<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <title>Vue Mailer</title>
</head>

<body>

    <div id="app">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 offset-md-4 mt-5">
                        <div class="card p-2">
                            <form @submit.prevent="registerUser">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input v-model="user.name" type="text" class="form-control" id="name">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input v-model="user.email" type="email" class="form-control" id="email">
                                </div>
                                <div class="form-group">
                                    <label for="phone">Phone</label>
                                    <input v-model="user.phone" type="text" class="form-control" id="phone">
                                </div>
                                <button class="btn btn-primary" type="submit">
                                    <span v-if="loader" class="spinner-border spinner-border-sm" role="status"
                                        aria-hidden="true"></span>
                                    Submit
                                </button>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script src="index.js"></script>
</body>



</html>