<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">

    <!-- START HEADER/BANNER -->

    <tbody>
        <tr>
            <td align="center">
                <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td align="center" valign="top"
                                background="https://designmodo.com/demo/emailtemplate/images/header-background.jpg"
                                bgcolor="#66809b" style="background-size:cover; background-position:top;height="
                                400""="">
                                <table class="col-600" width="600" height="400" border="0" align="center"
                                    cellpadding="0" cellspacing="0">

                                    <tbody>
                                        <tr>
                                            <td height="40"></td>
                                        </tr>


                                        <tr>
                                            <td align="center" style="line-height: 0px;">
                                                <img style="display:block; line-height:0px; font-size:0px; border:0px;"
                                                    src="https://designmodo.com/demo/emailtemplate/images/logo.png"
                                                    width="109" height="103" alt="logo">
                                            </td>
                                        </tr>



                                        <tr>
                                            <td align="center"
                                                style="font-family: 'Raleway', sans-serif; font-size:37px; color:#ffffff; line-height:24px; font-weight: bold; letter-spacing: 7px;">
                                                Vue <span
                                                    style="font-family: 'Raleway', sans-serif; font-size:37px; color:#ffffff; line-height:39px; font-weight: 300; letter-spacing: 7px;">Mailer</span>
                                            </td>
                                        </tr>





                                        <tr>
                                            <td align="center"
                                                style="font-family: 'Lato', sans-serif; font-size:15px; color:#ffffff; line-height:24px; font-weight: 300; padding:0 50px;">
                                                Hello Wisdom...Thanks For registering on our platform.We will love you
                                                to make use of the contact us section
                                            </td>
                                        </tr>


                                        <tr>
                                            <td height="50"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>


        <!-- END HEADER/BANNER -->
    </tbody>
</table>